html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 100%;
    display: block;
    background-color: #fbe9e7;
    font-family: "Exo", sans-serif;
}
.content-wr {
    min-height: 100vh;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

#navbar {
    background-color: #e65100;
    position: fixed;
    top: -50px;
    min-width: 1200px;
    display: block;
    transition: top 0.5s;
    text-transform: uppercase;
}

#navbar a {
    float: left;
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size: 15px;
}

#navbar a:hover {
    background-color: #ffffff;
    color: #bf360c;;
}

#demo_text {
    padding: 15px 15px 2500px;
    font-size: 20px;
}